[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
psycopg2-binary = "*"
pydantic = "*"
passlib = "*"
pyjwt = "*"
pytest = "*"
starlette = "*"
httpx = "*"
python-dotenv = "*"
dotenv = "*"
bcrypt = "==4.0.1"
alembic = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
starlette = "*"
httpx = "*"

[requires]
